<div class="nhsuk-design">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            {{ table({
    responsive: true,
    panel: false,
    caption: "",
    firstCellIsHeader: false,
    head: [
        {
        text: "Summary"
        },
        {
        text: "Initiated by"
        },
        {
        text: "On"
        },
        {
        text: "Approved by"
        },
        {
        text: "On"
        }
    ],
    rows: [
        [
        {
            header: "Summary",
            text: ""
        },
        {
            header: "Initiated by",
            text: ""
        },
        {
            header: "On",
            text: ""
        },
        {
            header: "Approved by",
            text: ""
        },
        {
            header: "On",
            text: ""
        }
        ]
    ]
    }) }}
        </div>
    </div>
</div>