<ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#demographic">
            Demographic Details
        </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#grids">
            Capacity Grids
        </a>
    </li>
    <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#status">
            Capacity Status
        </a>
    </li>
    <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#history">
            Change History
        </a>
    </li>
</ul>