<div class="gridToggle">
        <span id="serviceViewLink" onclick="location.href='search-results';">
            <input type="radio" id="serviceView" name="viewToggle" {% if serviceView %} checked="checked" {% endif %}>
        </span>
        <label for="serviceView" onclick="location.href='search-results';">Service View</label>

        <span id="gridViewToggle" onclick="location.href='grid';">
            <input type="radio" id="gridView" name="viewToggle" {% if gridView %} checked="checked" {% endif %}>
        </span>
        <label for="gridView" onclick="location.href='grid';">Grid View</label>

        <span class="slide-button"></span>
</div>
