<style>
    html,
    body {
        overflow-x: hidden;
        height: 100%;
    }

    body {
        background: #fff;
        padding: 0;
        margin: 0;
    }

    .header {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        background-color: #FC466B;
        position: fixed;
        height: 60px !important;
        overflow: hidden;
        z-index: 10;
    }

    .main {
        margin: 0 auto;
        display: block;
        height: 100%;
        margin-top: 60px;
    }

    .mainInner {
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .mainInner div {
        display: table-cell;
        vertical-align: middle;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1.25px;
    }

    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        width: 320px;
        margin-top: 0;
        transform: translateX(-320px);
        transition: transform 250ms ease-in-out;
        background: white;
        z-index: 999999;
        box-shadow: 5px 0 5px -5px #333;
    }

    .sidebarMenuInner {
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner li {
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner li span {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner li a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    input[type="checkbox"]:checked~#sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        height: 35px;
        width: 35px;
        background: #1b96c5;
        padding: 3px;
        padding-top: 7px;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    #nameSearch,
    #locationSearch,
    #savedSearches {
        padding-left: 20px
    }

    /* Override alternate rows */
    /*.side .nhsuk-form-group:nth-child(even) {
        background: none;
    }*/

     .nhsuk-design .nhsuk-form-group {
        margin-bottom: 0;
    } 
</style>

<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu" class="nhsuk-design side">

    <!-- NHSUK Radios -->
    <div class="nhsuk-form-group">
        <div class="nhsuk-hint">Search type:</div>
        <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="search-service" name="search-type" type="radio"
                        value="service">
                    <label class="nhsuk-label nhsuk-radios__label" for="search-service">
                        Service
                    </label>
                </div>

                <div class="nhsuk-radios__item nhsuk-u-margin-right-0">
                    <input class="nhsuk-radios__input" id="search-clinical" name="search-type" type="radio"
                        value="clinical">
                    <label class="nhsuk-label nhsuk-radios__label" for="search-clinical">
                        Clinical
                    </label>
                </div>

            </div>
        </fieldset>
    </div>


    <!-- Section -->
    <h3>By Service Name</h3>
    <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="service-name"></label>
        <input class="nhsuk-input" id="service-name" name="service-name" type="text">
    </div>


    <!-- Section -->
    <h3>By Location</h3>
    <div class="nhsuk-form-group">
        <div class="nhsuk-hint">Within:</div>
        <select class="nhsuk-select" id="distance" name="distance">
            <option value="0.5" selected="">0.5 Miles</option>
            <option value="1">1 Miles</option>
            <option value="2">2 Miles</option>
            <option value="5">5 Miles</option>
            <option value="10">10 Miles</option>
            <option value="20">20 Miles</option>
            <option value="30">30 Miles</option>
            <option value="40">40 Miles</option>
            <option value="50">50 Miles</option>
            <option value="60">60 Miles</option>
        </select>
        <span>of</span>
        <input class="nhsuk-input" id="location" name="location" type="text" placeholder="Enter Postcode, City or Town">
    </div>

    <div class="nhsuk-form-group">
        <div class="nhsuk-radios__divider">(or)</div>
    </div>

    <div class="nhsuk-form-group">
        <select class="nhsuk-select" id="region" name="region">
            <option value="" selected="">Select Region</option>
            <option value="allRegions">All regions</option>
            <option value="100000005">East Midlands</option>
            <option value="100000003">East of England</option>
            <option value="100000018">Isle of Wight</option>
            <option value="100000011">London Region</option>
            <option value="100000019">National Critical Care &amp; Burns</option>
            <option value="100000020">National Services</option>
            <option value="100000008">North East</option>
            <option value="100000009">North West Region</option>
            <option value="100000004">Other</option>
            <option value="100000014">Scotland</option>
            <option value="100000002">South Central</option>
            <option value="100000001">South East Coast</option>
            <option value="100000012">South West (GW)</option>
            <option value="100000017">South West (SW)</option>
            <option value="110000001">Starter Templates</option>
            <option value="100000013">Wales</option>
            <option value="100000006">West Midlands</option>
            <option value="100000010">Yorkshire And The Humber</option>
        </select>
    </div>

    <div class="nhsuk-form-group">
        <div class="nhsuk-hint">Which are open:</div>
        <select class="nhsuk-select" id="opening-times" name="opening-times">
            <option value="0">Now</option>
            <option value="1">Within 1 hour</option>
            <option value="2">Within 2 hours</option>
            <option value="3">Within 3 hours</option>
            <option value="4">Within 4 hours</option>
            <option value="5">Within 5 hours</option>
            <option value="6">Within 6 hours</option>
            <option value="7">Within 7 hours</option>
            <option value="8">Within 8 hours</option>
            <option value="9">Within 9 hours</option>
            <option value="10">Within 10 hours</option>
            <option value="11">Within 11 hours</option>
            <option value="12">Within 12 hours</option>
            <option value="13">Within 13 hours</option>
            <option value="14">Within 14 hours</option>
            <option value="15">Within 15 hours</option>
            <option value="16">Within 16 hours</option>
            <option value="17">Within 17 hours</option>
            <option value="18">Within 18 hours</option>
            <option value="19">Within 19 hours</option>
            <option value="20">Within 20 hours</option>
            <option value="21">Within 21 hours</option>
            <option value="22">Within 22 hours</option>
            <option value="23">Within 23 hours</option>
            <option value="24">Within 24 hours</option>
            <option selected="" value="ignore">Ignore opening times</option>
        </select>
        <a class="nhsuk-button" href="#" style="margin-top: 15px">
            Save search
        </a>
        <a class="nhsuk-button" href="#" style="margin-top: 15px">
            Search
        </a>
    </div>


    <!-- Section -->
    <h3>Saved Searches</h3>
    <ul>
        <li><a href="">1</a></li>
        <li><a href="">Test 1</a></li>
        <li><a href="">Test 2</a></li>
        <li><a href="">Test 4</a></li>
        <li><a href="">test5</a></li>
    </ul>

    <h4>Saved Searches</h4>
    <ul>
        <li><a href="">Test 5</a></li>
    </ul>

</div>



</div>