<style>
.nhsuk-design .nhsuk-error-summary__list a:link, .nhsuk-design .nhsuk-error-summary__list a:visited, .nhsuk-design .nhsuk-error-summary__list a:hover, .nhsuk-design .nhsuk-error-summary__list a:active {
    color: #d5281b !important;
}
</style>

<div class="nhsuk-design">
    <div class="">
        <div class="">
            <div class="nhsuk-design">
                <!-- Saved -->
                <div class="nhsuk-design notification-all" style="display: none">
                    <div class="nhsuk-warning-callout">
                        <h3 class="nhsuk-warning-callout__label">Save Summary</h3>
                        <p>All grids have been saved</p>
                    </div>
                </div>
                <a class="nhsuk-button save-all-button nhsuk-u-margin-top-2" id="" href="#">
                    Save all changed grids
                </a>
            </div>
        </div>
    </div>
</div>