<div class="nhsuk-design">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-design">
                <a class="nhsuk-button nhsuk-design" id="save-grid-button" href="#">
                    Save Grid
                </a>
                <div id="notification-grid" class="nhsuk-design" style="display: none">
                    <div class="nhsuk-warning-callout">
                        <h3 class="nhsuk-warning-callout__label">
                            Saved
                        </h3>
                        <p>Grid has been saved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>