<div class="nhsuk-design">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-design">
                <a class="nhsuk-button" id="save-all-button" href="#" style="margin-top: 15px">
                    Save all changed grids
                </a>

                <div id="notification-all" class="nhsuk-design" style="display: none">
                    <div class="nhsuk-warning-callout">
                        <h3 class="nhsuk-warning-callout__label">
                            Saved
                        </h3>
                        <p>All grids have been saved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>