<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/main.js"></script>

<!-- Add any custom scripts -->
<script>
    $('#paneToggle').click(function () {
        $('.search-config').toggle();
        //alert($('.paneToggle').text());
        $('.paneToggle').text($('.paneToggle').text() === "<<" ? ">>" : "<<");
    });

    $('#ui-id-3').click(function () {
        $('#myServices').hide();
        $('#mySavedSearches').show();
        $('#ui-id-2').removeClass('ui-tabs-active ui-state-active');
        $("[aria-labelledby='ui-id-2']").removeClass('ui-tabs-active ui-state-active');
        $('#ui-id-3').addClass('ui-tabs-active ui-state-active');
    });

    $('#ui-id-2').click(function () {
        $('#myServices').show();
        $('#mySavedSearches').hide();
        $('#ui-id-3').removeClass('ui-tabs-active ui-state-active');
        $('#ui-id-2').addClass('ui-tabs-active ui-state-active');
    });

    // Show notification
    $('button.selectable').click(function () {
        $('.lblGridSaveAllStatus').fadeIn('fast').delay(5000).fadeOut('fast');
    });

    // GDS Tabs (TODO: Not working using gds js!!)
    $('li.govuk-tabs__list-item').click(function () {
        $('li.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
        $(this).addClass('govuk-tabs__list-item--selected');

        $('div.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
        let tab = $(this).find('a').attr('href').substring(1);
        $("[id='" + tab + "']").removeClass('govuk-tabs__panel--hidden');
    });

    // Remove focus manually
     $(".blur").click(function (e) {
        e.preventDefault();
         $(this).focus().blur();
     });

    // SAVE FUNCTION ----------------------------------------------------------------------------------- //

    // Show notification V3 - Save All Grids

    let form1 = $('#1'), form2 = $('#2'), form3 = $('#3'),
    origForm1 = form1.serialize(), origForm2 = form2.serialize(), origForm3 = form3.serialize(), message = "No changes found";

    $('.save-all-button').click(function (e) {
        e.preventDefault();

        let a, b, c;
        a = form1.serialize() !== origForm1 ? `<img src="images/info.png" class="icon-exclam"/><strong>${form1.attr('data-name')}</strong> has been saved <br/>` : `<span class="nhsuk-u-margin-bottom-1" style="color: black"><img src="images/exclamation.png" class="icon-exclam"/><strong>${form1.attr('data-name')}</strong> has not been saved</span><br/>`;
        b = form2.serialize() !== origForm2 ? `<img src="images/info.png" class="icon-exclam"/><strong>${form2.attr('data-name')}</strong> has been saved <br/>` : `<span class="nhsuk-u-margin-bottom-1" style="color: black"><img src="images/exclamation.png" class="icon-exclam"/><strong>${form2.attr('data-name')}</strong> has not been saved</span><br/>`;
        c = form3.serialize() !== origForm3 ? `<img src="images/info.png" class="icon-exclam"/><strong>${form3.attr('data-name')}</strong> has been saved <br/>` : `<span class="nhsuk-u-margin-bottom-1" style="color: black"><img src="images/exclamation.png" class="icon-exclam"/><strong>${form3.attr('data-name')}</strong> has not been saved</span><br/>`;
        message = a + b + c;

        $(this).prev('.notification-all').find('p').html(message);
        $(this).prev('.notification-all').show();

        //Timestamp
        let t = new Date();
        let newUTC = String(t.toGMTString().replace("GMT", ""));
        $('.timestamp').text(newUTC.substring(5));

        $(this).focus().blur();
    });



    // Show notification V3 - Save Grid
    $('.save-grid-button').click(function (e) {
        e.preventDefault();
        $(this).prev('.notification-grid').fadeIn('fast').delay(2000).fadeOut('fast');

        //Timestamp
        let t = new Date();
        let newUTC = String(t.toGMTString().replace("GMT", ""));
        $('.timestamp').text(newUTC.substring(5));

        $(this).focus().blur();
    });

    // Show notification V3 - Save Grid
    $('.save-grids-button').click(function (e) {
        e.preventDefault();
        $(this).prev('.notification-grids').fadeIn('fast').delay(2000).fadeOut('fast');

        //Timestamp
        let t = new Date();
        let newUTC = String(t.toGMTString().replace("GMT", ""));
        $('.timestamp').text(newUTC.substring(5));

        $(this).focus().blur();
    });


    // Capacity Status --------------------------------------------------------------------------------- //
    $('#save-status').click(function (e) {
        e.preventDefault();
        $(this).prev('.notification-cs').fadeIn('fast').delay(2000).fadeOut('fast');

        //Timestamp
        let t = new Date();
        let newUTC = String(t.toGMTString().replace("GMT", ""));
        $('#status-update-date').text(newUTC);

        $(this).focus().blur();
    });

    $('#select-time-1').on('change', function () {
        $('#time1').text($('#select-time-1 option:selected').text());
    });

    $('#select-time-2').on('change', function () {
        $('#time2').text($('#select-time-2 option:selected').text());
    });

    // Traffic lights
    $('#green, #amber, #red').on('change', function () {
        if ($('#green').is(":checked")) {
            $('#status-date, #select-time-1, #select-time-2').prop("disabled", true);
            $('#select-time-1, #select-time-2').val(1);
            $('#status-date').val('');
            $('#status-msg').hide();
        } else {
            $('#status-date, #select-time-1, #select-time-2').prop("disabled", false);
            $('#status-msg').show();
        }
    });

    $(function () {
        $('#status-date').datepicker({ dateFormat: 'D, dd M yy' });
    });

    $('#status-date').on('change', function () {
        $('#reset-date').text($('#status-date').val());
    });

    $('.show-add-grid').click(function (e) {
        e.preventDefault();
        $('#assign').toggle();
        $('#assign').offset().top + 10
        $(this).focus().blur();
    });

</script>