<style>
    .nhsuk-form-group {
        padding: 10px
    }
    .nhsuk-design h1, .nhsuk-design h2, .nhsuk-design h3,
    .nhsuk-design h4, .nhsuk-design h5, .nhsuk-design h6 {
        background: none;
        color: black;
        font-size: revert;
    }
     .icon-exclam {
        position: relative;
        top: 2px;
        margin-right: 3px;
        width: 20px;
        height: 20px;
    }
    {% if newSidebar %}
    #paneToggle {
        display: none;
    }
    
    {% endif %}
</style>