{% set appPage = true %}
{% set navSearch = true %}
{% set m111 = true %}

{% set critical = {
'L3 beds empty and available': '0',
'L2 beds empty and available': '0',
'Total L3/L2 Mix': '6',
'L3 patients on unit': '3',
'L2 patients on unit': '2',
'L1/0 patients in unit': '1',
'L3 patients outside unit': '0',
'L2 patients outside unit': '0',
'Beds committed': '0'
}
%}

{% set contact = {
'Address': 'Darenth Wood Road, Dartford, DA2 8DA',
'Postal Locality': 'DARENTH',
'Public Phone': '01322 428100 x 8404',
'Non-Public Phone': '-',
'Fax': '-',
'Non-Public Email': '-',
'Website': '-'
}
%}

{% set openHours = {
'Monday': 'OPEN 24 HOURS',
'Tuesday': 'OPEN 24 HOURS',
'Wednesday': 'OPEN 24 HOURS',
'Thursday': 'OPEN 24 HOURS',
'Friday': 'OPEN 24 HOURS',
'Saturday': 'OPEN 24 HOURS',
'Sunday': 'OPEN 24 HOURS'
}
%}

{% set publicHols = {
'02-04-2021': 'Closed',
'04-04-2021': 'Closed',
'05-04-2021': 'Closed',
'03-05-2021': 'Closed',
'31-05-2021': 'Closed',
'30-08-2021': 'Closed',
'27-12-2021': 'Closed',
'28-12-2021': 'Closed'
}
%}

{% extends 'layout.html' %}

{% block beforeContent %}
<!--[if !IE 8]><!-->
<link rel="stylesheet" href="govuk-frontend-3.11.0.min.css">
<!--<![endif]-->
<!--[if IE 8]>
      <link rel="stylesheet" href="govuk-frontend-ie8-3.11.0.min.css">
    <![endif]-->

{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<style>
    .nhsuk-form-group:nth-child(even) {
        background: #ececec
    }
</style>
{% include "includes/gds-tab-nhsuk-styles.html" %}

<script src="govuk-frontend-3.11.0.min.js"></script>

<div class="nhsuk-design">
    <!-- LEFT SIDEBAR -->
    {% include "includes/left-nhsuk.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div class="nhsuk-width-container">  
        <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h2>SE KM Darent Valley Hospital - General ICU</h2>
                        
                    <!-- Control Details -->
                    {% include "includes/control-details.html" %}
                    
                    <!-- GDS Tabs -->
                    <div class="">
                        <main class="">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="govuk-tabs" data-module="govuk-tabs">
                                        <h2 class="govuk-tabs__title">
                                            Contents
                                        </h2>
                                        <!-- GDS Tab Headings -->
                                        {% include "includes/gds-tab-headings.html" %}
                                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="demographic">
                                            <h2 class="govuk-heading-l">Demographic Details</h2>
                                            <!-- Demographic Details -->
                                            {% include "includes/demographic-details-new.html" %}
                                        </div>
                                        <div class="govuk-tabs__panel" id="grids">
                                            <h2 class="govuk-heading-l">Capacity Grids</h2>

                                            <!-- Notification - Save All -->
                                            {% include "includes/notification-save-all.html" %}

                                            
                                                <!-- Last Updated -->
                                                {% include "includes/last-updated.html" %}

                                                <div data-name="Critical Care">
                                                    <div class="nhsuk-design">

                                                        <div class="">
                                                            
                                                            <div class="nhsuk-grid-row">
                                                                <div class="nhsuk-grid-column-two-thirds">
                                                                    {% for key, value in critical %}
                                                                    <div class="nhsuk-form-group">
                                                                        <div class="nhsuk-grid-row">
                                                                            <div
                                                                                class="nhsuk-grid-column-three-quarters">
                                                                                <label class="nhsuk-label" for={{key}}>
                                                                                    {{ key }}
                                                                                </label>
                                                                            </div>

                                                                            <div class="nhsuk-grid-column-one-quarter">
                                                                                <input class="nhsuk-input" id={{key}}
                                                                                    name={{key}} type="text"
                                                                                    value={{value}}>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                                
                                            
                                            <!-- Notification - Save Grid -->
                                                {% include "includes/notification-save-grid.html" %}

                                        </div>
                                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="status">
                                            <h2 class="govuk-heading-l">Capacity Status</h2>
                                            <!-- Status Section -->
                                            {% include "includes/status-section.html" %}
                                        </div>
                                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
                                            <h2 class="govuk-heading-l">Change History</h2>
                                            <!-- Change History -->
                                            {% include "includes/change-history.html" %}
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

{% endblock %}