{% set appPage = true %}
{% set navSearch = true %}
{% set m111 = false %}


{% extends 'layout.html' %}

{% block beforeContent %}
{% include "includes/style-resets.html" %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:auto">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>SE KM Darent Valley Hospital - General ICU</h2>
                    </div>
                    <!-- Control Details -->
                    {% include "includes/control-details.html" %}
                </div>
            </div>
            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">

                    <li id="demographicDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="demographicDetailsView" aria-labelledby="ui-id-9" aria-selected="false"><a
                            href="demographic-details" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-9">Demographic Details</a>
                    </li>
                    <li id="capacityStatus"
                        class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active ui-state-active" role="tab"
                        tabindex="0" aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true">
                        <a href="capacity-status" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-10">Capacity Grids</a>
                    </li>
                    <li id="capacityStatus"
                        class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active" role="tab"
                        tabindex="0" aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true">
                        <a href="capacity-status" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-10">Capacity Status</a>
                    </li>
                    <li id="changeHistory" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="changeHistoryView" aria-labelledby="ui-id-14" aria-selected="false"><a
                            href="#changeHistoryView" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-14">Change History</a></li>
                </ul>
                <div id="capacityStatusView" aria-labelledby="ui-id-10"
                    class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true"
                    aria-hidden="false" style="display:block">
                    <div class="nhsuk-design">
                        <!-- Status Section -->
                        {# {% include "includes/status-section.html" %} #}

                        <h2 title="Service Capacity Grids">Capacity Grids:</h2>
                        {% include "includes/notification-save-all.html" %}

                    </div>

                    {% include "includes/multi-grid-1.html" %}


                </div>
            </div>
        </div>
    </div>
    <div class="allSearchResults" style="overflow-x:hidden;display:none"></div>
</div>

</div>
{% endblock %}