{% set appPage = true %}
{% set navSearch = true %}
{% set m111 = false %}

{% extends 'layout.html' %}

{% block beforeContent %}
{% include "includes/style-resets.html" %}
{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<style>
    .nhsuk-design .nhsuk-section-break--visible,
    .nhsuk-design hr {
        border-bottom: 5px solid #d8dde0;
    }
</style>

<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left.html" %}
    <div id="paneToggle">
        <span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:auto">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>SE KM Darent Valley Hospital - General ICU</h2>
                    </div>
                    <!-- Control Details -->
                    {% include "includes/control-details.html" %}
                </div>
            </div>

            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <!-- Tab Headings -->
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">

                    <li id="demographicDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="demographicDetailsView" aria-labelledby="ui-id-9" aria-selected="false"><a
                            href="demographic-details" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-9">Demographic Details</a></li>
                    <li id="capacityStatus"
                        class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active ui-state-active" role="tab"
                        tabindex="0" aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true">
                        <a href="capacity-status" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-10">Capacity Status</a>
                    </li>
                    <li id="changeHistory" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="changeHistoryView" aria-labelledby="ui-id-14" aria-selected="false"><a
                            href="#changeHistoryView" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-14">Change History</a></li>
                </ul>
                <div id="demographicDetailsView" aria-labelledby="ui-id-9"
                    class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false"
                    aria-hidden="true" style="display:none">

                </div>
                <div id="serviceAdminView">
                </div>
                <div id="capacityStatusView" style="display:block">
                    <div class="nhsuk-design">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-three-quarters">

                                <h2 class="nhsuk-u-margin-top-4">Capacity Status</h2>
                                <!-- Status Section -->
                                {% include "includes/status-section.html" %}

                                <h2 class="nhsuk-u-margin-top-6">Capacity Grids</h2>
                                <!-- Notification - Save All -->
                                {% include "includes/notification-save-all.html" %}

                                <!-- Grids -->
                                {% include "includes/grids.html" %}

                                <!-- Grid Options -->
                                <div class="nhsuk-design">
                                    {# <a class="nhsuk-button nhsuk-design show-add-grid" href="#">
                                        Show Capacity grid options >>
                                    </a> #}
                                    <h2>Add Grid</h2>
                                    <div class="nhsuk-form-group" style="display: block;" id="assign">
                                        <label class="nhsuk-label" for="select-1">
                                            Assign new capacity grid to service
                                        </label>
                                        <select class="nhsuk-select" id="add-grid" name="add-grid">
                                            <option value="1">[select capacity grid]</option>
                                            <option value="2">EoE MIU or WIC</option>
                                            <option value="3">Provider Escalation Status</option>
                                            <option value="4">East Midlands Provider Escalation Status</option>
                                            <option value="5">Suffolk Community Hospitals</option>
                                            <option value="6">Suffolk Ambulance Grid</option>
                                            <option value="7">Suffolk Community Team Grid</option>
                                            <option value="8">Suffolk NHS DToC</option>
                                        </select>
                                        <br />
                                        <a class="nhsuk-button nhsuk-design nhsuk-button--secondary blur nhsuk-u-margin-top-3"
                                            href="#">
                                            Refresh
                                        </a>
                                        <a class="nhsuk-button nhsuk-design blur nhsuk-u-margin-top-3" href="#">
                                            Add
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}