{% set appPage = true %}
{% set navSearch = true %}
{% set m111 = true %}

{% set critical = {
'L3 beds empty and available': '0',
'L2 beds empty and available': '0',
'Total L3/L2 Mix': '6',
'L3 patients on unit': '3',
'L2 patients on unit': '2',
'L1/0 patients in unit': '1',
'L3 patients outside unit': '0',
'L2 patients outside unit': '0',
'Beds committed': '0'
}
%}

{% set contact = {
'Address': 'Darenth Wood Road, Dartford, DA2 8DA',
'Postal Locality': 'DARENTH',
'Public Phone': '01322 428100 x 8404',
'Non-Public Phone': '-',
'Fax': '-',
'Non-Public Email': '-',
'Website': '-'
}
%}

{% set openHours = {
'Monday': 'OPEN 24 HOURS',
'Tuesday': 'OPEN 24 HOURS',
'Wednesday': 'OPEN 24 HOURS',
'Thursday': 'OPEN 24 HOURS',
'Friday': 'OPEN 24 HOURS',
'Saturday': 'OPEN 24 HOURS',
'Sunday': 'OPEN 24 HOURS'
}
%}

{% set publicHols = {
'02-04-2021': 'Closed',
'04-04-2021': 'Closed',
'05-04-2021': 'Closed',
'03-05-2021': 'Closed',
'31-05-2021': 'Closed',
'30-08-2021': 'Closed',
'27-12-2021': 'Closed',
'28-12-2021': 'Closed'
}
%}

{% extends 'layout.html' %}

{% block beforeContent %}
<!--[if !IE 8]><!-->
<link rel="stylesheet" href="govuk-frontend-3.11.0.min.css">
<!--<![endif]-->
<!--[if IE 8]>
      <link rel="stylesheet" href="govuk-frontend-ie8-3.11.0.min.css">
    <![endif]-->

{% endblock %}

{% block outerContent %}

{% endblock %}

{% block content %}

<style>
    .nhsuk-form-group:nth-child(even) {
        background: #ececec
    }

    .nhsuk-form-group {
        padding: 10px
    }

    .panel {
        padding: 10px;
        background: #ececec
    }

    #paneToggle {
        display: none;
    }
</style>
<script src="govuk-frontend-3.11.0.min.js"></script>
<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left-nhsuk.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:1286px">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>SE KM Darent Valley Hospital - General ICU</h2>
                    </div>
                    <!-- Control Details -->
                    {% include "includes/control-details.html" %}
                </div>
                <!-- GDS Tabs -->
                <div class="">
                    <main class="">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <div class="govuk-tabs" data-module="govuk-tabs">
                                    <h2 class="govuk-tabs__title">
                                        Contents
                                    </h2>
                                    <ul class="govuk-tabs__list">
                                        <li class="govuk-tabs__list-item">
                                            <a class="govuk-tabs__tab" href="#past-day">
                                                Demographic Details
                                            </a>
                                        </li>
                                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                            <a class="govuk-tabs__tab" href="#past-week">
                                                Capacity Status
                                            </a>
                                        </li>
                                        <li class="govuk-tabs__list-item">
                                            <a class="govuk-tabs__tab" href="#past-month">
                                                Capacity Grids
                                            </a>
                                        </li>
                                        <li class="govuk-tabs__list-item">
                                            <a class="govuk-tabs__tab" href="#past-year">
                                                Change History
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-day">
                                        <h2 class="govuk-heading-l">Demographic Details</h2>

                                        <div class="nhsuk-design">
                                            <div class="nhsuk-grid-row">
                                                <div class="nhsuk-grid-column-two-thirds">
                                                    <div class="nhsuk-grid-row">
                                                        <div class="nhsuk-grid-column-one-half">

                                                            <h3>Contact Details</h3>
                                                            {% for key, value in contact %}
                                                            <div class="nhsuk-grid-row">
                                                                <div class="nhsuk-grid-column-one-half">
                                                                    <strong>{{ key }}</strong>
                                                                </div>
                                                                <div class="nhsuk-grid-column-one-half"
                                                                    style="text-align: left">
                                                                    <p>{{ value }}</p>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                            <h3>Public Facing Information</h3>
                                                            <p>No instructions specified</p>

                                                            <h3>Parent Services</h3>
                                                            <ul>
                                                                <li><a href="">National Critical Care & Burns</a>
                                                                    <ul>
                                                                        <li><a href="">Kent and Medway Area Network</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <div class="nhsuk-grid-column-one-half">

                                                            <h3>Opening Times</h3>
                                                            {% for key, value in openHours %}
                                                            <div class="nhsuk-grid-row">
                                                                <div class="nhsuk-grid-column-one-half">
                                                                    <strong>{{ key }}</strong>
                                                                </div>
                                                                <div class="nhsuk-grid-column-one-half"
                                                                    style="text-align: right">
                                                                    <p>{{ value }}</p>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                            <h3>Public Holiday Dates</h3>
                                                            {% for key, value in publicHols %}
                                                            <div class="nhsuk-grid-row">
                                                                <div class="nhsuk-grid-column-one-half">
                                                                    <strong>{{ key }}</strong>
                                                                </div>
                                                                <div class="nhsuk-grid-column-one-half"
                                                                    style="text-align: right">
                                                                    <p>{{ value }}</p>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                            <h3>Referral Information</h3>
                                                            <p>No instructions specified</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>




                                    </div>
                                    <div class="govuk-tabs__panel" id="past-week">
                                        <!-- Status Section -->
                                        <h2 class="govuk-heading-l">Capacity Status</h2>
                                        <div class="">
                                            <div class="nhsuk-design">
                                                <main class="nhsuk-main-wrapper">
                                                    <div class="nhsuk-grid-row">
                                                        <div class="nhsuk-grid-column-three-quarters panel">
                                                            <div class="nhsuk-form-group">
                                                                <div class="nhsuk-hint">
                                                                    {{ "You are not able to set the status information
                                                                    below." if m111 else "You are able to set the status
                                                                    information below." }}
                                                                </div>
                                                                <label for="" class="nhsuk-label">Status</label>
                                                                <fieldset class="nhsuk-fieldset">
                                                                    <div class="nhsuk-radios nhsuk-radios--inline">
                                                                        <div
                                                                            style="background-color: green; padding: 10px; display:inline-block">
                                                                            <div class="nhsuk-radios__item"
                                                                                style="margin-right: 0;">
                                                                                <input class="nhsuk-radios__input"
                                                                                    id="green" name="status"
                                                                                    type="radio" value="green" {% if
                                                                                    m111%}disabled{% endif %}>
                                                                                <label
                                                                                    class="nhsuk-label nhsuk-radios__label"
                                                                                    for="green"
                                                                                    style="padding: 5px; color: white">
                                                                                    Green
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            style="background-color: orange; padding: 10px; display:inline-block">
                                                                            <div class="nhsuk-radios__item"
                                                                                style="background-color: orange; margin-right: 0;">
                                                                                <input class="nhsuk-radios__input"
                                                                                    id="amber" name="status"
                                                                                    type="radio" value="amber" {% if
                                                                                    m111%}disabled{% endif %}>
                                                                                <label
                                                                                    class="nhsuk-label nhsuk-radios__label"
                                                                                    for="amber"
                                                                                    style="padding: 5px; color: white">
                                                                                    Amber
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            style="background-color: red; padding: 10px; display:inline-block">
                                                                            <div class="nhsuk-radios__item"
                                                                                style="background-color: red; margin-right: 0;">
                                                                                <input class="nhsuk-radios__input"
                                                                                    id="red" name="status" type="radio"
                                                                                    value="red" {% if m111%}disabled{%
                                                                                    endif %}>
                                                                                <label
                                                                                    class="nhsuk-label nhsuk-radios__label"
                                                                                    for="red"
                                                                                    style="padding: 5px; color: white">
                                                                                    Red
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>

                                                            <div class="nhsuk-form-group">
                                                                <label for="" class="nhsuk-label">Reset Time At</label>
                                                                <div class="nhsuk-hint">Reset Time must be within the
                                                                    next 120 hours
                                                                    (5 days)</div>


                                                                <input class="nhsuk-input nhsuk-input--width-4"
                                                                    id="example" name="example" type="text" {% if
                                                                    m111%}disabled{% endif %}>
                                                                <select class="nhsuk-select nhsuk-input--width-4"
                                                                    id="select-1" name="select-1" {% if m111%}disabled{%
                                                                    endif %}>
                                                                    <option value="1">--</option>
                                                                    <option value="2">23</option>
                                                                </select>
                                                                <select class="nhsuk-select nhsuk-input--width-4"
                                                                    id="select-2" name="select-2" {% if m111%}disabled{%
                                                                    endif %}>
                                                                    <option value="1">--</option>
                                                                    <option value="1">45</option>
                                                                </select>
                                                            </div>

                                                            <div class="nhsuk-form-group">
                                                                <label for="" class="nhsuk-label">Last Updated By
                                                                    Notes</label>
                                                                <textarea class="nhsuk-textarea" id="example"
                                                                    name="example" rows="5"
                                                                    aria-describedby="example-hint" {% if
                                                                    m111%}disabled{% endif %}></textarea>
                                                                <a class="nhsuk-button" href="#" {% if m111%}disabled{%
                                                                    endif %} style="margin-top: 15px">
                                                                    Save
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </main>

                                            </div>
                                        </div>

                                        <h4 class="underline" title="Service Capacity Grids">Capacity Grids:</h4>
                                        <div id="saveAllSection" data-initial-count="1" class="nhsuk-design">

                                            <a class="nhsuk-button" href="#" style="margin-top: 15px">
                                                Save all changed grids
                                            </a>

                                            <div id="lblGridSaveAllStatus">
                                                <div class="ui-state-highlight ui-corner-all"><span
                                                        class="ui-icon ui-icon-info jqueryUiIconFloater"></span>Saved
                                                    Critical Care
                                                </div>
                                            </div>
                                        </div>
                                        <div id="populateGridContainersViaJquery">

                                            <div id="gridLoadError" class="red small-font"></div>
                                            <div class="capacityInputterGrid">
                                                <div class="capacityGridName">
                                                    <span class="fontBold" title="Grid ID 1761 : Critical Care">Critical
                                                        Care</span>
                                                    <span class="small-font"
                                                        title="Date/Time grid was last updated or verified">(last
                                                        updated: <span id="lastUpdated1761">02 Mar 2021
                                                            08:05:33</span>)</span>
                                                </div>
                                            </div>

                                            <div data-name="Critical Care">
                                                <div class="nhsuk-design">

                                                    <!--<div class="nhsuk-width-container">-->
                                                    <div class="">
                                                        <main class="nhsuk-main-wrapper">
                                                            <div class="nhsuk-grid-row">
                                                                <div class="nhsuk-grid-column-two-thirds
                                                                                            ">
                                                                    {% for key, value in critical %}
                                                                    <div class="nhsuk-form-group">
                                                                        <div class="nhsuk-grid-row">
                                                                            <div
                                                                                class="nhsuk-grid-column-three-quarters">
                                                                                <label class="nhsuk-label" for={{key}}>
                                                                                    {{ key }}
                                                                                </label>
                                                                            </div>

                                                                            <div class="nhsuk-grid-column-one-quarter">
                                                                                <input class="nhsuk-input" id={{key}}
                                                                                    name={{key}} type="text"
                                                                                    value={{value}}>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </main>
                                                    </div>

                                                </div>
                                            </div>
                                            <br class="clear">
                                            <div class="nhsuk-design">
                                                <a class="nhsuk-button nhsuk-design" id="saveGrid" href="#">
                                                    Save Grid
                                                </a>
                                                <div id="lblGridSaveStatus1761"></div>
                                            </div>
                                            <br>
                                            <hr class="clear">
                                            <br>
                                        </div>

                                    </div>
                                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden nhsuk-design"
                                        id="past-month">
                                        <h2 class="govuk-heading-l">Capacity Grids</h2>
                                        <p>[CONTENT PLACEHOLDER]</p>
                                        <!-- Table -->
                                        {# {{ table({
                                            responsive: true,
                                            panel: false,
                                            caption: "Ibuprofen tablet dosages for children",
                                            firstCellIsHeader: false,								
                                            head: [
                                                {
                                                    text: "Critical Care"
                                                },
                                                {
                                                    text: "L3 beds empty and available"
                                                },
                                                {
                                                    text: "L2 beds empty and available"
                                                },
                                                {
                                                    text: "Total L3/L2 Mix"
                                                },
                                                {
                                                    text: "L3 patients on unit"
                                                },
                                                {
                                                    text: "L2 patients on unit"
                                                },
                                                {
                                                    text: "L1/0 patients in unit"
                                                },
                                                {
                                                    text: "L3 patients outside unit"
                                                },
                                                {
                                                    text: "L2 patients outside unit"
                                                },
                                                {
                                                    text: "Beds committed"
                                                },
                                                {
                                                    text: "SERVICE NOTES"
                                                },
                                                {
                                                    text: "text"
                                                }
                                            ],
                                            rows: [
                                                [
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 01. Colchester ITU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "13"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "6"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "5"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "-"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 02. Princess Alexandra – Harlow ITU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "8"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "6"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 03. Basildon ITU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "11"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "7"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "2"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 04. Essex CTC Cardio Thoracic - ITU/HDU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "16"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "7"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "2"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "3"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 05. Southend ITU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "1"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "10"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "3"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "3"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "3"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 06. Broomfield - Chelmsford ICU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "10"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "4"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "6"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ],[
                                                    {
                                                        header: "Critical Care",
                                                        text: "EoE E 08. Queens Neuro ICU"
                                                    },
                                                    {
                                                        header: "L3 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 beds empty and available",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Total L3/L2 Mix",
                                                        text: "12"
                                                    },
                                                    {
                                                        header: "L3 patients on unit",
                                                        text: "7"
                                                    },
                                                    {
                                                        header: "L2 patients on unit",
                                                        text: "5"
                                                    },
                                                    {
                                                        header: "L1/0 patients in unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L3 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "L2 patients outside unit",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "Beds committed",
                                                        text: "0"
                                                    },
                                                    {
                                                        header: "SERVICE NOTES",
                                                        text: "text"
                                                    },
                                                    {
                                                        header: "header",
                                                        text: "text"
                                                    }
                                                ]
                                            ]
                                        }) }} #}

                                    </div>
                                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
                                        <h2 class="govuk-heading-l">Change History</h2>
                                        <p>[CONTENT PLACEHOLDER]</p>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}