
{% set appPage = true %}

{% set critical = {
    'L3 beds empty and available': '0',
    'L2 beds empty and available': '0',
    'Total L3/L2 Mix': '6',
    'L3 patients on unit': '3',
    'L2 patients on unit': '2',
    'L1/0 patients in unit': '1',
    'L3 patients outside unit': '0',
    'L2 patients outside unit': '0',
    'Beds committed': '0'
    }
%}

{% extends 'layout.html' %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map"><<</span></div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:1286px">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>
                            SE KM Darent Valley Hospital - General ICU</h2>
                    </div>
                    <!-- TODO, in nhs grid -->
                    <!-- <table>
                        <tbody>
                            <tr>
                                <td class="orgTopLabel">Public Name</td>
                                <td colspan="7" class="orgTopText"></td>
                            </tr>
                            <tr>
                                <td class="orgTopLabel">Type</td>
                                <td class="orgTopText">Critical Care (CC)</td>
                                <td class="orgTopLabel">Service ID</td>
                                <td class="orgTopText">1384256819</td>
                                <td class="orgTopLabel">ODS Code</td>
                                <td class="orgTopText"></td>
                                <td class="orgTopLabel">Created by</td>
                                <td class="orgTopText">ROBOT on 12-11-2013 11:46</td>
                            </tr>
                            <tr>
                                <td class="orgTopLabel" style="width:80px">Status</td>
                                <td class="orgTopText">Active</td>
                                <td colspan="4"></td>
                                <td class="orgTopLabel">Modified by</td>
                                <td class="orgTopText">
                                    capacityuser on 02-03-2021 08:05
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
                <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">

                        <li id="demographicDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="demographicDetailsView" aria-labelledby="ui-id-9" aria-selected="false"><a href="#demographicDetailsView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-9">Demographic Details</a></li>
                        <li id="capacityStatus" class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true"><a href="#capacityStatusView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-10">Capacity Status</a></li>
                        <li id="attributeDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="attributeDetailsView" aria-labelledby="ui-id-11" aria-selected="false"><a href="#attributeDetailsView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-11">Service Attributes</a></li>
                        <li id="endPointDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="endPointDetailsView" aria-labelledby="ui-id-12" aria-selected="false"><a href="#endPointDetailsView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-12">Endpoint Details</a></li>
                        <li id="alignedServices" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="alignedServicesView" aria-labelledby="ui-id-13" aria-selected="false"><a href="#alignedServicesView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-13">Search Rankings</a></li>
                        <li id="changeHistory" class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="changeHistoryView" aria-labelledby="ui-id-14" aria-selected="false"><a href="#changeHistoryView" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-14">Change History</a></li>
                    </ul>
                    <div id="demographicDetailsView" aria-labelledby="ui-id-9" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">

                    </div>
                    <div id="serviceAdminView">
                    </div>
                    <div id="capacityStatusView" aria-labelledby="ui-id-10" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display:block">
                        <div id="capactityRAG">
                        <!--
                            <div class="formRow">
                                <div class="orgLabelLeft">Status</div>
                                <div class="orgText" id="statusPicker">
                                    <label for="green" class="green">
                                        <input type="radio" name="currentCapacityStatus" id="green" title="GREEN" value="GREEN" checked="">
                                        Green
                                    </label>
                                    <label for="amber" class="amber">
                                        <input type="radio" name="currentCapacityStatus" id="amber" title="AMBER" value="AMBER">
                                        Amber
                                    </label>
                                    <label for="red" class="red">
                                        <input type="radio" name="currentCapacityStatus" id="red" title="RED" value="RED">
                                        Red
                                    </label>
                                </div>
                            </div>
                            <div class="formRow">
                                <div class="orgLabelLeft">&nbsp;</div>
                                <div class="orgText">
                                    Reset Time must be within the next 120 hours (5 days)
                                </div>
                            </div>
                            <div class="formRow" id="capacity-status-reset-row">
                                <div class="orgLabelLeft">Reset Time</div>
                                <div class="orgText">
                                    <input id="resetDate" name="resetDate" class="capacityStatusDatepicker" type="text" size="10" value="" readonly="" disabled="">
                                    <br>
                                    <div class="orgLabelLeft">At</div>
                                    <div class="orgText" id="cmsCapacityResetTimeViaJquery_time">
                                        <select class="input-time input-time-hour reset-input-disabled-select" name="reset-time-hours" id="reset-time-hours" disabled="">
                                            <option value="--" selected="">--</option>
                                            <option value="00">00
                                            </option><option value="01">01
                                            </option><option value="02">02
                                            </option><option value="03">03
                                            </option><option value="04">04
                                            </option><option value="05">05
                                            </option><option value="06">06
                                            </option><option value="07">07
                                            </option><option value="08">08
                                            </option><option value="09">09
                                            </option><option value="10">10
                                            </option><option value="11">11
                                            </option><option value="12">12
                                            </option><option value="13">13
                                            </option><option value="14">14
                                            </option><option value="15">15
                                            </option><option value="16">16
                                            </option><option value="17">17
                                            </option><option value="18">18
                                            </option><option value="19">19
                                            </option><option value="20">20
                                            </option><option value="21">21
                                            </option><option value="22">22
                                            </option><option value="23">23</option>
                                        </select>
                                        <select class="input-time input-time-minutes reset-input-disabled-select" name="reset-time-minutes" id="reset-time-minutes" disabled="">
                                            <option value="--" selected="">--</option>
                                            <option value="00">00
                                            </option><option value="15">15
                                            </option><option value="30">30
                                            </option><option value="45">45</option>
                                        </select>
                                    </div>
                                    <div class="orgLabelLeft">&nbsp;</div>
                                    <div class="orgText" id="cmsCapacityResetTimeViaJquery_error">
                                        <span id="timePickerWarnings"></span>

                                    </div>
                                    <div class="formRow" id="capacityResetNotice">
                                        <div class="orgLabelLeft">&nbsp;</div>
                                        <div class="orgText capacity-reset-notice">

                                            <span id="capacityResetNoticeContent"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="formRow">
                                    <div class="orgLabelLeft">Last Updated</div>
                                    <div class="orgText" id="cmsCapacityUpdateTimeViaJquery">
                                    </div>
                                </div>
                                <div class="formRow">
                                    <div class="orgLabelLeft">By</div>
                                    <div class="orgText" id="cmsCapacityUpdatedByViaJquery">
                                    </div>
                                </div>
                                <div class="formRow">
                                    <div class="orgLabelLeft">Notes</div>
                                    <div class="orgText">
                                        <textarea maxlength="1000" name="cap007" class="capacityStatusNotes" id="capacityStatusNotes"></textarea>
                                    </div>
                                </div>
                                <div class="formRow">
                                    <div class="orgLabelLeft">&nbsp;</div>
                                    <div class="orgText">
                                        <button id="updateCapacityStatusViaJquery" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-disabled ui-state-disabled" role="button" aria-disabled="true" disabled=""><span class="ui-button-text">Save</span></button>
                                    </div>
                                </div>
                                <div id="capacityStatusErrors" class="capacityStatusErrors"></div>
                            </div>-->
                            <br class="clear">
                            <!--
                            <h4 class="underline" title="Service Capacity Grids">Capacity Grids:</h4>
                            <div id="saveAllSection" data-initial-count="1">
                                <button class="selectable marT ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="saveAllCapacityGridData" role="button" aria-disabled="false"><span class="ui-button-text">Save all changed
                                        grids</span></button>&nbsp;
                                <div id="lblGridSaveAllStatus"></div>
                            </div>
                            <div id="populateGridContainersViaJquery">

                                <div id="gridLoadError" class="red small-font"></div>
                                <div class="capacityInputterGrid">
                                    <div class="capacityGridName">
                                        <span class="fontBold" title="Grid ID 1761 : Critical Care">Critical
                                            Care</span>
                                        <span class="small-font" title="Date/Time grid was last updated or verified">(last updated: <span id="lastUpdated1761">02 Mar 2021 08:05:33</span>)</span>
                                    </div>
                                </div>
                                -->
                                <div class="sheetData" id="sheetData1761" data-id="1761" data-name="Critical Care">
                                    <div class="nhsuk-design">

                                        

                                        <!--<div class="nhsuk-width-container">-->
                                        <div class="">
                                            <main class="nhsuk-main-wrapper" id="maincontent" role="main">
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-one-third
                                                    ">
                                                        {% for key, value in critical %}
                                                            <div class="nhsuk-form-group">
                                                                <div class="nhsuk-grid-row">
                                                                    <div class="nhsuk-grid-column-three-quarters">
                                                                        <label class="nhsuk-label" for={{key}}>
                                                                            {{ key }} 
                                                                        </label>
                                                                    </div>

                                                                    <div class="nhsuk-grid-column-one-quarter">
                                                                        <input class="nhsuk-input" id={{key}} name={{key}} type="text" value={{value}}>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}

                                                         <div class="nhsuk-form-group">
                                                        <label class="nhsuk-label" for="example">
                                                            Need to provide more detail?
                                                        </label>
                                                        <div class="nhsuk-hint" id="example-hint">
                                                            Do not include personal or financial information, for example, National Insurance number or credit card details.
                                                        </div>
                                                        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </main>
                                        </div>

                                        
                                                
                                                
                                            


                                       
                                    </div>
                                </div>
                                <br class="clear">
                                <button class="selectable marT ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="saveCapacityGridData" role="button" aria-disabled="false"><span class="ui-button-text">Save grid
                                    </span></button>&nbsp;
                                <div id="lblGridSaveStatus1761"></div>

                                <br>
                                <hr class="clear">
                                <br>
                            </div>




                        </div>
                    </div>

                    <div id="endPointDetailsView" aria-labelledby="ui-id-12" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">




                    </div>
                    <div id="alignedServicesView" aria-labelledby="ui-id-13" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">
                    </div>
                    <div id="attributeDetailsView" aria-labelledby="ui-id-11" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">




                    </div>
                    <div id="changeHistoryView" aria-labelledby="ui-id-14" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display:none">
                    </div>
                </div>
            </div>
        </div>
        <div class="allSearchResults" style="overflow-x:hidden;display:none"></div>
    </div>

</div>
{% endblock %}
