{% set appPage = true %}
{% set navSearch = true %}
{% set m111 = true %}

<!-- For now, have seperate loops and div blocks i guess :( -->
{% set critical = {
'Are you currently accepting primary triage candidate positive major trauma patients?': 'Yes',
'TU OPEL status': '0',
'Number of Major Trauma Inpatients': '2',
'Number of Major Trauma Inpatients on the Intensive Care Unit (ICU)': '1',
'Number of Patients waiting for specialist rehabilitation': '',
'Is it planned that your site can accept Primary triaged candidate positive major trauma Patients for the next 24 hours
(Yes/No)': '',
'Is it planned that your site will have staff to support critical secondary transfers for the next 24 hours (Yes/No)':
'Yes',
'Number of trauma Inpatients awaiting transfer to Major Trauma Centre': 'Yes',
'Comments regarding trauma': '',
'L3 beds empty and available': '0',
'L2 beds empty and available': '0',
'Total L3/L2 Mix': '6',
'L3 patients on unit': '3',
'L2 patients on unit': '2',
'L1/0 patients in unit': '1',
'L3 patients outside unit': '0',
'L2 patients outside unit': '0',
'Beds committed': '0'
}
%}

{% set public = {
'Type': 'Critical Care (CC)',
'Service ID': '1384256819',
'ODS Code': '',
'Created by': 'ROBOT on 12-11-2013 11:46',
'Status': 'Active',
'Modified by': 'capacityuser on 02-03-2021 08:05'
}
%}

{% extends 'layout.html' %}

{% block beforeContent %}
{% include "includes/style-resets.html" %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:auto">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>SE KM Darent Valley Hospital - General ICU</h2>
                    </div>
                    <!-- Control Details -->
                    {% include "includes/control-details.html" %}
                </div>
            </div>

            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <!-- Tab Headings -->
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">

                    <li id="demographicDetails" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="demographicDetailsView" aria-labelledby="ui-id-9" aria-selected="false"><a
                            href="demographic-details" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-9">Demographic Details</a></li>
                    <li id="capacityStatus"
                        class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active ui-state-active" role="tab"
                        tabindex="0" aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true">
                        <a href="capacity-status" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-10">Capacity Status</a>
                    </li>
                    <li id="changeHistory" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="changeHistoryView" aria-labelledby="ui-id-14" aria-selected="false"><a
                            href="#changeHistoryView" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-14">Change History</a></li>
                </ul>
                <div id="demographicDetailsView" aria-labelledby="ui-id-9"
                    class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false"
                    aria-hidden="true" style="display:none">

                </div>
                <div id="serviceAdminView">
                </div>
                <div id="capacityStatusView" style="display:block">
                    <div class="nhsuk-design">
                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-three-quarters">

                                <!-- Status Section -->
                                {% include "includes/status-section.html" %}

                                <h2>Capacity Grids</h2>
                                <!-- Notification - Save All -->
                                {% include "includes/notification-save-all.html" %}

                                <!-- Grid -->
                                <div>
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}

                                    <div data-name="Critical Care">
                                        <div class="nhsuk-design">
                                            <div>
                                                {% for key, value in critical %}
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label" for={{key}}>
                                                        {{ key }}
                                                    </label>
                                                    <input class="nhsuk-input" id={{key}} name={{key}} type="text"
                                                        value={{value}}>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Notification - Save Grid -->
                                    {% include "includes/notification-save-grid.html" %}
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}
                                </div>
                                <hr>    

                                 <!-- Grid -->
                                <div>
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}

                                    <div data-name="Critical Care">
                                        <div class="nhsuk-design">
                                            <div>
                                                {% for key, value in critical %}
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label" for={{key}}>
                                                        {{ key }}
                                                    </label>
                                                    <input class="nhsuk-input" id={{key}} name={{key}} type="text"
                                                        value={{value}}>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Notification - Save Grid -->
                                    {% include "includes/notification-save-grid.html" %}
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}
                                </div>
                                <hr> 

                                 <!-- Grid -->
                                <div>
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}

                                    <div data-name="Critical Care">
                                        <div class="nhsuk-design">
                                            <div>
                                                {% for key, value in critical %}
                                                <div class="nhsuk-form-group">
                                                    <label class="nhsuk-label" for={{key}}>
                                                        {{ key }}
                                                    </label>
                                                    <input class="nhsuk-input" id={{key}} name={{key}} type="text"
                                                        value={{value}}>
                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Notification - Save Grid -->
                                    {% include "includes/notification-save-grid.html" %}
                                    <!-- Last Updated -->
                                    {% include "includes/last-updated.html" %}
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}