{% set appPage = true %}
{% set navSearch = true %}

{% set critical = {
'L3 beds empty and available': '0',
'L2 beds empty and available': '0',
'Total L3/L2 Mix': '6',
'L3 patients on unit': '3',
'L2 patients on unit': '2',
'L1/0 patients in unit': '1',
'L3 patients outside unit': '0',
'L2 patients outside unit': '0',
'Beds committed': '0'
}
%}

{% set public = {
'Type': 'Critical Care (CC)',
'Service ID': '1384256819',
'ODS Code': '',
'Created by': 'ROBOT on 12-11-2013 11:46',
'Status': 'Active',
'Modified by': 'capacityuser on 02-03-2021 08:05'
}
%}

{% extends 'layout.html' %}

{% block beforeContent %}
<style>
                        .searchResults {
                            margin: 0 auto;
                            padding-left: 10px;
                            text-align: left;
                            background-color: #fff;
                        }

                        .searchResults h2 {
                            color: black;
                            margin-bottom: 3px;
                            background-color: #fff;
                        }

                        #demographicDetailsView table {
                            width: 100%;
                        }

                        #demographicDetailsView table thead td {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0px;
                            padding: 0px;
                        }

                        #demographicDetailsView table tbody td {
                            font-size: 14px;
                            text-align: left;
                        }

                        #demographicDetailsView table tbody tr {
                            height: 30px;
                        }

                        #demographicDetailsView table tbody tr td {
                            padding: 3px;
                        }

                        .searchResults {
                            margin: 0 auto;
                            padding-left: 10px;
                            text-align: left;
                            background-color: #fff;
                        }

                        .searchResults h2 {
                            color: black;
                            margin-bottom: 3px;
                            background-color: #fff;
                        }

                        .searchResults table {
                            width: 100%;
                        }

                        .searchResults table thead td {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0px;
                            padding: 0px;
                        }

                        .searchResults table tbody td {
                            font-size: 14px;
                            text-align: left;
                        }

                        .searchResults table tbody tr {
                            height: 30px;
                        }

                        .searchResults table tbody tr td {
                            padding: 3px;
                        }

                        /*
                        * Demographic details: Opening times
                        */
                        .openingTimeRow {
                            width: 100%;
                        }

                        .openingTimeLabel {
                            width: 45%;
                            min-height: 23px;
                            float: left;
                        }

                        .openingTimeDetail {
                            width: 54%;
                            min-height: 23px;
                            float: left;
                        }

                        .uppercase {
                            text-transform: uppercase;
                        }
                    </style>
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class=searchwrapper>
    <!-- LEFT SIDEBAR -->
    {% include "includes/left.html" %}
    <div id="paneToggle"><span class="paneToggle" title="Show/Hide Map">
            << </span>
    </div>
    <!-- CONTENT -->
    <div id="resizeMapsViaJquery" class="rightCanvas" style="height:1286px">
        <div id="nameSearchResult" style="display:block">
            <div class="errorMessages sf-hidden"></div>
            <div class="searchResults">
                <div id="serviceBasicDetails" class="orgDetails">
                    <div class="orgName">
                        <h2>SE KM Darent Valley Hospital - General ICU</h2>
                    </div>


                    <div class="nhsuk-design">
                        <h3 style="background: none; color: black">Public Name</h3>
                        <div class="nhsuk-grid-row">
                            {% for key, value in public %}
                            <div class="nhsuk-grid-column-one-third">
                                <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
                                    <div class="nhsuk-grid-column-one-third">
                                        <strong class="orgTopLabel">{{ key }}</strong>
                                    </div>
                                    <div class="nhsuk-grid-column-two-thirds">
                                        <span class="orgTopText">{{ value }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {# <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            {% for key, value in public %}
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">
                                    {{ key }}
                                </dt>
                                <dd class="nhsuk-summary-list__value">
                                    {{ value }}
                                </dd>
                            </div>
                            {% endfor %}
                        </dl> #}
                    </div>
                </div>
            </div>
            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">

                    <li id="demographicDetails"
                        class="ui-state-default ui-corner-top ui-state-focus ui-tabs-active ui-state-active" role="tab"
                        tabindex="-1" aria-controls="demographicDetailsView" aria-labelledby="ui-id-9"
                        aria-selected="false"><a href="demographic-details" class="ui-tabs-anchor" role="presentation"
                            tabindex="-1" id="ui-id-9">Demographic Details</a></li>
                    <li id="capacityStatus" class="ui-state-default ui-corner-top" role="tab" tabindex="0"
                        aria-controls="capacityStatusView" aria-labelledby="ui-id-10" aria-selected="true"><a
                            href="capacity-status" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-10">Capacity Status</a></li>
                    <li id="changeHistory" class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                        aria-controls="changeHistoryView" aria-labelledby="ui-id-14" aria-selected="false"><a
                            href="#changeHistoryView" class="ui-tabs-anchor" role="presentation" tabindex="-1"
                            id="ui-id-14">Change History</a></li>
                </ul>
                <div id="demographicDetailsView" aria-labelledby="ui-id-9"
                    class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true"
                    aria-hidden="false">

                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 50%;" class="alignTop">
                                    <table id="tableContactDetails">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="uppercase"><span class="fontBold">Contact Details
                                                    </span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="orgLabelLeft">Address</td>
                                                <td class="orgText">
                                                    Darenth Wood Road, Dartford<br> DA2 8DA <br><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Postal Locality
                                                </td>
                                                <td class="orgText">
                                                    DARENTH </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Public Phone
                                                </td>
                                                <td class="orgText">
                                                    01322 428100 x 8404 </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Non-Public Phone
                                                </td>
                                                <td class="orgText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Fax
                                                </td>
                                                <td class="orgText">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Non-Public Email
                                                </td>
                                                <td class="orgText" style="word-break:break-all;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="orgLabelLeft">
                                                    Website
                                                </td>
                                                <td class="orgText" style="word-break:break-all;">
                                                    <a href="" target="_blank" title="">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br class="clear">
                                    <br class="clear">

                                    <table id="tableReferralInstructions">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="uppercase">
                                                    <span class="fontBold">Public Facing Information</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    No instructions specified
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br class="clear">
                                </td>
                                <td class="alignTop">

                                    <table id="tableOpeningTimes" width="100%">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="uppercase"><span class="fontBold">Opening Times
                                                    </span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <!-- sort opening times display (note: temporary as the whole table needs redoing to use modern day Div tags (CSS)!!!) -->
                                                    <div class="openingTimes">

                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Monday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Tuesday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Wednesday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Thursday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Friday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Saturday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>
                                                        <div class="openingTimeRow">
                                                            <div class="openingTimeLabel">Sunday</div>
                                                            <div class="openingTimeDetail">OPEN 24 HOURS

                                                            </div>
                                                        </div>


                                                        <br class="clear">
                                                        <br class="clear">

                                                    </div>

                                                    <br class="clear">
                                                    <br class="clear">

                                                    <div class="fontItalic uppercase">PUBLIC HOLIDAY DATES</div>
                                                    <br class="clear">

                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            02-04-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            04-04-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            05-04-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            03-05-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            31-05-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            30-08-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            27-12-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                    <div class="openingTimeRow">
                                                        <div class="openingTimeLabel">
                                                            28-12-2021 </div>
                                                        <div class="openingTimeDetail">
                                                            Closed<br> </div>
                                                    </div>
                                                    <br class="clear">
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="alignTop">
                                    <table id="tableParentServices">
                                        <tbody>
                                            <tr>
                                                <td class="uppercase fontBold">Parent Services</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <ul>
                                                        <li class="arrow">
                                                            <a title="View National Critical Care &amp; Burns"
                                                                href="#">National Critical Care &amp; Burns</a>
                                                        </li>
                                                        <ul>
                                                            <li class="arrow">
                                                                <a title="View Kent and Medway Area Network"
                                                                    href="#">Kent and Medway Area Network</a>
                                                            </li>
                                                        </ul>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="alignTop">
                                    <table id="tableDispoInstructions">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="uppercase">
                                                    <span class="fontBold">Referral Information</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    No instructions specified </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>




                </div>

                <div id="capacityStatusView" aria-labelledby="ui-id-10"
                    class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true"
                    aria-hidden="false" style="display:none">
                    <div id="capactityRAG">

                        <div class="">
                            <div class="nhsuk-design">
                                <main class="nhsuk-main-wrapper">
                                    <div class="nhsuk-grid-row">
                                        <div class="nhsuk-grid-column-three-quarters">
                                            <div class="nhsuk-form-group">
                                                <label for="" class="nhsuk-label">Status</label>
                                                <fieldset class="nhsuk-fieldset">
                                                    <div class="nhsuk-radios nhsuk-radios--inline">
                                                        <div
                                                            style="background-color: green; padding: 10px; display:inline-block">
                                                            <div class="nhsuk-radios__item" style="margin-right: 0;">
                                                                <input class="nhsuk-radios__input" id="green"
                                                                    name="status" type="radio" value="green">
                                                                <label class="nhsuk-label nhsuk-radios__label"
                                                                    for="green" style="padding: 5px; color: white">
                                                                    Green
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div
                                                            style="background-color: orange; padding: 10px; display:inline-block">
                                                            <div class="nhsuk-radios__item"
                                                                style="background-color: orange; margin-right: 0;">
                                                                <input class="nhsuk-radios__input" id="amber"
                                                                    name="status" type="radio" value="amber">
                                                                <label class="nhsuk-label nhsuk-radios__label"
                                                                    for="amber" style="padding: 5px; color: white">
                                                                    Amber
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div
                                                            style="background-color: red; padding: 10px; display:inline-block">
                                                            <div class="nhsuk-radios__item"
                                                                style="background-color: red; margin-right: 0;">
                                                                <input class="nhsuk-radios__input" id="red"
                                                                    name="status" type="radio" value="red">
                                                                <label class="nhsuk-label nhsuk-radios__label" for="red"
                                                                    style="padding: 5px; color: white">
                                                                    Red
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="nhsuk-form-group">
                                                <label for="" class="nhsuk-label">Reset Time At</label>
                                                <div class="nhsuk-hint">Reset Time must be within the next 120 hours (5
                                                    days)</div>


                                                <input class="nhsuk-input nhsuk-input--width-4" id="example"
                                                    name="example" type="text" readonly>
                                                <select class="nhsuk-select nhsuk-input--width-4" id="select-1"
                                                    name="select-1" disabled>
                                                    <option value="1">--</option>
                                                    <option value="2">23</option>
                                                </select>
                                                <select class="nhsuk-select nhsuk-input--width-4" id="select-2"
                                                    name="select-2" disabled>
                                                    <option value="1">--</option>
                                                    <option value="1">45</option>
                                                </select>
                                            </div>

                                            <div class="nhsuk-form-group">
                                                <label for="" class="nhsuk-label">Last Updated By Notes</label>
                                                <textarea class="nhsuk-textarea" id="example" name="example" rows="5"
                                                    aria-describedby="example-hint"></textarea>
                                                <button id="updateCapacityStatusViaJquery" style="margin-top: 20px;"
                                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-disabled ui-state-disabled"
                                                    role="button" aria-disabled="true" disabled=""><span
                                                        class="ui-button-text">Save</span></button>

                                            </div>

                                        </div>
                                    </div>
                                </main>

                            </div>
                        </div>



                        <h4 class="underline" title="Service Capacity Grids">Capacity Grids:</h4>
                        <div id="saveAllSection" data-initial-count="1">
                            <button
                                class="selectable marT ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                id="saveAllCapacityGridData" role="button" aria-disabled="false"><span
                                    class="ui-button-text">Save all changed
                                    grids</span></button>&nbsp;
                            <div id="lblGridSaveAllStatus"></div>
                        </div>
                        <div id="populateGridContainersViaJquery">

                            <div id="gridLoadError" class="red small-font"></div>
                            <div class="capacityInputterGrid">
                                <div class="capacityGridName">
                                    <span class="fontBold" title="Grid ID 1761 : Critical Care">Critical
                                        Care</span>
                                    <span class="small-font" title="Date/Time grid was last updated or verified">(last
                                        updated: <span id="lastUpdated1761">02 Mar 2021 08:05:33</span>)</span>
                                </div>
                            </div>

                            <div data-name="Critical Care">
                                <div class="nhsuk-design">

                                    <!--<div class="nhsuk-width-container">-->
                                    <div class="">
                                        <main class="nhsuk-main-wrapper">
                                            <div class="nhsuk-grid-row">
                                                <div class="nhsuk-grid-column-two-thirds
                                                    ">
                                                    {% for key, value in critical %}
                                                    <div class="nhsuk-form-group">
                                                        <div class="nhsuk-grid-row">
                                                            <div class="nhsuk-grid-column-three-quarters">
                                                                <label class="nhsuk-label" for={{key}}>
                                                                    {{ key }}
                                                                </label>
                                                            </div>

                                                            <div class="nhsuk-grid-column-one-quarter">
                                                                <input class="nhsuk-input" id={{key}} name={{key}}
                                                                    type="text" value={{value}}>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </main>
                                    </div>

                                </div>
                            </div>
                            <br class="clear">
                            <button
                                class="selectable marT ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                id="saveCapacityGridData" role="button" aria-disabled="false"><span
                                    class="ui-button-text">Save grid
                                </span></button>&nbsp;
                            <div id="lblGridSaveStatus1761"></div>

                            <br>
                            <hr class="clear">
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="allSearchResults" style="overflow-x:hidden;display:none"></div>
</div>

</div>
{% endblock %}