<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" style="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>
        Capacity Grids Prototypes
    </title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font"
        crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font"
        crossorigin>


    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">


    <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>


    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">




</head>

<body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    <header class="nhsuk-header nhsuk-header--logo-only" role="banner">
        <div class="nhsuk-width-container nhsuk-header__container">
            <div class="nhsuk-header__logo">
                <a class="nhsuk-header__link nhsuk-header__link--service" href="/docs"
                    aria-label="NHS.UK prototype kit home">
                    <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" role="presentation" focusable="false"
                        viewBox="0 0 40 16">
                        <path fill="#fff" d="M0 0h40v16H0z"></path>
                        <path fill="#005eb8"
                            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                        </path>
                        <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                    </svg>
                    <span class="nhsuk-header__service-name">
                        Capcity Grids - Prototypes
                    </span>
                </a>
            </div>
        </div>
    </header>
    <style>
        .thumb {
            background: white;
            width: 100%;
            /* border: 2px grey solid; */
            border-radius: 15px;
            overflow: hidden;
        }

        .thumb img {
            max-width: 100%;
        }

        .thumb span {
            padding: 20px 10px;
            text-align: center;
            display: block;
            background: white
        }

        .thumb:hover {
            transform: translateY(-6px);
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
            cursor: pointer;
            transition: 0.3s;
        }

        .center {
            text-align: center;
            margin: auto;
            display: inline-block;
        }
    </style>

    <div class="nhsuk-width-container ">

        <main class="nhsuk-main-wrapper " id="maincontent" role="main">

            <!-- Hero Section -->
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-three-quarters">
                    <form action="/docs/install" method="post">

                        <h1>
                            Capacity Grids Prototypes
                        </h1>

                        <!-- <img src="images/apple-devices.png" alt=""> -->


                        <a class="nhsuk-button" href="login">
                            View End to End Prototype
                        </a>
                    </form>
                </div>
            </div>
            <hr>

            <!-- Prototype Links -->
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2>
                        Prototypes
                    </h2>

                    <p>
                        In this section you will find direct access to various flows and design variants of the
                        Prototype.
                    </p>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-third">
                            <div class="thumb">
                                <a href="login">
                                    <img src="images/1.png" alt="">
                                </a>
                                <span>E2E Flow</span>
                            </div>
                        </div>

                        <div class="nhsuk-grid-column-one-third">
                            <div class="thumb">
                                <a href="capacity-status">
                                    <img src="images/2.png" alt="">
                                </a>
                                <span>Capacity Status V1</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <hr>
            <!-- Change Log -->
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2>
                        Change Log (Deployments)
                    </h2>

                    <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                09/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                New main page, with links to the various prototype pages
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                08/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                E2E version detailed further<br>
                                E2E version all screens added<br>
                                E2E small improvements<br>
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                05/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                E2E User flow version of Prototype started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                04/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                HTML prototype hosted on Heroku
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                03/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Initial HTML prototype started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                23/2/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Early Wireframes started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    View
                                </a>
                            </dd>
                        </div>





                    </dl>


                </div>
            </div>

        </main>
    </div>




    <footer role="contentinfo">
        <div class="nhsuk-footer" id="nhsuk-footer">
            <div class="nhsuk-width-container">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <!-- <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                        <ul class="nhsuk-footer__list">
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="/docs">Home</a></li>
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="/docs/about">About and support</a></li>
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS.UK prototype kit -
                                    GitHub</a></li>
                        </ul> -->

                        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/prism.js"></script>

</body>

</html>