<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" style="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>
        Capacity Grids Prototypes
    </title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font"
        crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font"
        crossorigin>


    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">


    <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>


    <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
    <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
    <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
    <meta name="msapplication-TileColor" content="#005eb8">
    <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">




</head>

<body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    <header class="nhsuk-header nhsuk-header--logo-only" role="banner">
        <div class="nhsuk-width-container nhsuk-header__container">
            <div class="nhsuk-header__logo">
                <a class="nhsuk-header__link nhsuk-header__link--service" href="/"
                    aria-label="NHS.UK prototype kit home">
                    <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" role="presentation" focusable="false"
                        viewBox="0 0 40 16">
                        <path fill="#fff" d="M0 0h40v16H0z"></path>
                        <path fill="#005eb8"
                            d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
                        </path>
                        <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                    </svg>
                    <span class="nhsuk-header__service-name">
                        Capcity Grids - Prototypes
                    </span>
                </a>
            </div>
        </div>
    </header>
    <style>
        .thumb {
            background: white;
            width: 100%;
            /* border: 2px grey solid; */
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 14px rgb(0 0 0 / 5%), 0 5px 5px rgb(0 0 0 / 3%);
        }

        .thumb img {
            max-width: 100%;
        }

        .thumb span {
            padding: 20px 10px;
            text-align: center;
            display: block;
            color: white;
            background: rgb(54, 54, 54);
            font-weight: bold;
        }

        .thumb span:hover,
        .thumb:hover span {
            background: black;
        }

        .thumb:hover {
            transform: translateY(-6px);
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
            cursor: pointer;
            transition: 0.3s ease;
        }

        .thumb.disabled,
        .thumb.disabled:hover {
            cursor: default !important;
        }

        .center {
            text-align: center;
            margin: auto;
            display: inline-block;
        }

        .launch {
            text-align: center;
            display: block;
            margin: 10px;
        }

        /* Tablet overrides */
        @media only screen and (max-width: 641px) {
            .launch {
                display: none;
            }
        }

        /* Mobile overrides */
        @media only screen and (max-width: 320px) {
            .launch {
                display: none;
            }
        }
    </style>

    <div class="nhsuk-width-container ">

        <main class="nhsuk-main-wrapper " id="maincontent" role="main">

            <!-- Hero Section -->
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">


                    <h1>
                        Capacity Grids Prototypes
                    </h1>

                    <img src="images/apple-devices.png" alt="" style="width: 100%;">


                    <!-- <a class="nhsuk-button" href="login">
                        View End to End Prototype
                    </a> -->

                    <div class="nhsuk-warning-callout">
                        <h3 class="nhsuk-warning-callout__label">
                            Information<span class="nhsuk-u-visually-hidden">:</span>
                        </h3>
                        <p>If you wish to see a true reflection of how the prototype appears on Tablet/Mobile, access
                            the prototype link on the portable device of your preference</p>
                    </div>

                </div>
            </div>
            <hr>

            <!-- Prototype Links -->
            {# <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2>
                        Prototypes
                    </h2>

                    <p>
                        In this section you will find direct access to various flows and design variants of the
                        Prototype.
                    </p>
                    <h3 style="margin-top: 30px">End To End Prototype</h3>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb">
                                <a href="login">
                                    <img src="images/1.png" alt="">
                                    <span>E2E Flow</span>
                                </a>
                            </div>
                            <a class="launch" href="capacity-status-e2e-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-e2e-tablet" target="_blank">View Tablet</a>
                        </div>
                    </div>
                    <h3 style="margin-top: 30px">Single Views - Capacity Status Versions</h3>
                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb">
                                <a href="capacity-status-original">
                                    <img src="images/cs0.png" alt="">
                                    <span>Capacity Status <br> *ORIGINAL*</span>
                                </a>
                            </div>
                            <a class="launch" href="capacity-status-original-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-original-tablet" target="_blank">View Tablet</a>
                        </div>

                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb">
                                <a href="capacity-status">
                                    <img src="images/cs1.png" alt="">
                                    <span>Capacity Status <br> *Version 1*</span>
                                </a>
                            </div>
                            <a class="launch" href="capacity-status-v1-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-v1-tablet" target="_blank">View Tablet</a>
                        </div>


                    </div>
                </div>
            </div> #}

            {# <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb disabled">
                                <span disabled>
                                    <img src="images/cs0.png" alt="">
                                    <span>Capacity Status <br> *Version 3* <br> WIP: Coming Soon</span>
                                </span>
                            </div>
                            <a class="launch" href="capacity-status-original-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-original-tablet" target="_blank">View Tablet</a>
                        </div>

                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb">
                                <a href="capacity-status-v4">
                                    <img src="images/cs2.png" alt="">
                                    <span>Capacity Status <br> *Version 4*</span>
                                </a>
                            </div>
                            <a class="launch" href="capacity-status-v4-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-v4-tablet" target="_blank">View Tablet</a>
                        </div>
                        <div class="nhsuk-grid-column-one-third" style="margin-bottom: 35px">
                            <div class="thumb">
                                <a href="capacity-status-v2">
                                    <img src="images/cs2.png" alt="">
                                    <span>Capacity Status <br> *Version 2*</span>
                                </a>
                            </div>
                            <a class="launch" href="capacity-status-v2-mobile" target="_blank">View Mobile</a>
                            <a class="launch" href="capacity-status-v2-tablet" target="_blank">View Tablet</a>
                        </div>


                    </div>
                </div>
            </div> #}
            <style>
                .nhsuk-button {
                    margin-bottom: 0;
                }
            </style>
            <h2>Prototypes</h2>
            <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption">Capacity Status variants and details</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
                        <th role="columnheader" class="" scope="col">
                            Variant #
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Description
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Last Updated
                        </th>
                        <th role="columnheader" class="" scope="col">
                            Link
                        </th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Variant # </span><strong>1</strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Description </span>First design put forward to
                            users,
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Last Updated </span>19/3/2021
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Link </span>
                            <a href="capacity-status" target="_blank" class="nhsuk-button">View</a>
                        </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Variant # </span><strong>2</strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Description </span>Based on the first variant
                            but has stacked label on input fields (in all viewport widths)
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Last Updated </span>19/3/2021
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Link </span>
                            <a href="capacity-status-v4" target="_blank" class="nhsuk-button">View</a>
                        </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Variant # </span><strong>3</strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Description </span>A design concept with Tabs
                            used from <a href="https://design-system.service.gov.uk/components/tabs/"
                                target="_blank">GDS</a>.<br />
                            Also includes a reworked sidebar menu system.<br />(Idea referenced from a previous <a
                                href="" target="_blank">CG Prototype
                                by Sarah H</a>)
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Last Updated </span>19/3/2021
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Link </span>
                            <a href="capacity-status-v2" target="_blank" class="nhsuk-button">View</a>
                        </td>
                    </tr>

                    <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Variant # </span><strong>4</strong>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Description </span>Based on variant 3 design, but has stacked labels and inputs
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Last Updated </span>19/3/2021
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading">Link </span>
                            <a href="capacity-status-v3" target="_blank" class="nhsuk-button">View</a>
                        </td>
                    </tr>



                </tbody>
            </table>

            <hr>
            <!-- Change Log -->
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2>
                        Change Log (Deployments)
                    </h2>

                    <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                19/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Various updates to all 4 Capacity Grid variants, in closing of the Alpha phase. 
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                17/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Added a design concept that:
                                <ul>
                                    <li>Uses GDS Tabs instead of the default DoS tabs</li>
                                    <li>Has an additional Capcity Grids tab idea (DEVELOP MORE)</li>
                                    <li>Has a left fly in menu, with icon in top left</li>
                                </ul>
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="capacity-status-v2">
                                    View
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                16/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Made a fix to scrolling issue (lower content was unreachable in Capacity Status)
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#"></a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                12/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Added two designs for unmoderated user review
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="user-review-capacity-status">
                                    View
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                11/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Increased sample data in V1 and V4 <br />
                                Added Capacity Status V4 - Stacked Inputs <br />
                                Added Capacity Status V3 - WIP
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                10/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                E2E flow for Initial User Review feedback completed
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                09/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                New main page, with links to the various prototype pages
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                08/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                E2E version detailed further<br>
                                E2E version all screens added<br>
                                E2E small improvements<br>
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                05/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                E2E User flow version of Prototype started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                04/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                HTML prototype hosted on Heroku
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                03/3/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Initial HTML prototype started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- Change -->
                                </a>
                            </dd>
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                23/2/21
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Early Wireframes started
                            </dd>
                            <dd class="nhsuk-summary-list__actions">
                                <a href="#">
                                    <!-- View -->
                                </a>
                            </dd>
                        </div>





                    </dl>


                </div>
            </div>

        </main>
    </div>




    <footer role="contentinfo">
        <div class="nhsuk-footer" id="nhsuk-footer">
            <div class="nhsuk-width-container">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <!-- <h2 class="nhsuk-u-visually-hidden">Support links</h2>
                        <ul class="nhsuk-footer__list">
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="/docs">Home</a></li>
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="/docs/about">About and support</a></li>
                            <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link"
                                    href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS.UK prototype kit -
                                    GitHub</a></li>
                        </ul> -->

                        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/prism.js"></script>

</body>

</html>